
  <button class="header__button-nav--open" (click)="openSidebar()">Abrir</button>

  <nav class="nav">
    <div class="content__link">
      <div class="logo">
        <img src='assets/svg/logos_bhd/logo_horizontal.svg' alt='Logo BHD'>
      </div>
      <ul class="nav__ul">
        <li class="nav__item"><a href="#" class="nav__link">Sucursales</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contactanos</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Divisas</a></li>
      </ul>
    </div>
  </nav>
