<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="products__content ion-padding">
<strong class="ion-padding">Mis Tarjetas</strong>
<div class="card">
    <div class="card__content">
      <div class="card__number">
        <img src='assets/svg/logos_bhd/imagotipo_white.svg' alt='Logo BHD'>
        <span>***** 6789</span>
      </div>
      <div class="card__value ion-padding">
        <span>RDS 100.000.00</span>
        <span>USS 100.000.00</span>
      </div>
      <div class="card__type">
        <img src='assets/svg/mastercard.svg' alt='Logo BHD'>
      </div>
    </div>

    <div class="card__content">
      <div class="card__number">
        <img src='assets/svg/logos_bhd/imagotipo_white.svg' alt='Logo BHD'>
        <span>***** 6789</span>
      </div>
      <div class="card__value ion-padding">
        <span>RDS 100.000.00</span>
        <span>USS 100.000.00</span>
      </div>
      <div class="card__type">
        <img src='assets/svg/mastercard.svg' alt='Logo BHD'>
      </div>
    </div>
</div>

<strong class="ion-padding">Mis Transacciones</strong>
<div class="transactions ion-padding">
  <div class="transactions__content">
    <div class="transactions__incoming">
      <div class="transactions__description">
        <div class="icono">
          <
        </div>
        <span>Pago en tienda</span>
      </div>
      <div class="transactions__value">
        <span>$50.000</span>
      </div>
    </div>
  </div>
  </div>

</ion-content>
